[ { sasl
  , [ {sasl_error_logger, {file, "log/sasl.log"}}
    , {error_logger_mf_dir, "log/sasl"}
    , {error_logger_mf_maxfiles, 10}
    , {error_logger_mf_maxbytes, 1000000}
    , {errlog_type, error}
    ]
  }
, { cowboy_swagger
  , [ { global_spec
      , #{ swagger => "2.0"
         , info => #{title => "Sample API"}
         , basePath => ""
         }
      }
    ]
  }
].
