[ { sasl
  , [ {error_logger_mf_dir, "log/sasl"}
    , {error_logger_mf_maxfiles, 10}
    , {error_logger_mf_maxbytes, 1000000}
    , {errlog_type, error}
    ]
  }
, { cowboy_swagger
  , [ { global_spec
      , #{ swagger => "2.0"
         , info => #{title => "SumoRest Test API"}
         , basePath => ""
         }
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
, { sumo_db
  , [ {wpool_opts, [{overrun_warning, 100}]}
    , {log_queries, true}
    , {query_timeout, 30000}
    , {storage_backends, []}
    , {stores, [{sr_store_mnesia, sumo_store_mnesia, [{workers, 10}]}]}
    , { docs
      , [ {sr_elements, sr_store_mnesia}
        , {sr_sessions, sr_store_mnesia}
        ]
      }
    , {events, []}
    ]
  }
, { sr_test
  , [ {users, [{<<"user1">>, <<"pwd1">>}, {<<"user2">>, <<"pwd2">>}]}
    ]
  }
].
