[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        rules => [{elvis_style, god_modules, #{limit => 35}},
                  {elvis_style, invalid_dynamic_call, disable}],
        ruleset => erl_files
       },
      #{dirs => ["test", "test/*"],
        filter => "*.erl",
        rules => [{elvis_style, god_modules, #{limit => 35}},
                  {elvis_style, no_debug_call, disable}],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        rules => [{elvis_project,
                   protocol_for_deps_erlang_mk,
                   #{ regex => "(https://.*|[0-9]+([.][0-9]+)*)" }}],
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
